doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    block content

    script(async='' type='text/javascript' src='js/c_index.js' charset='utf-8')
